body {
    background-color: #e8fafc;
    text-align: center;
    font-family: 'Andika New Basic', sans-serif;
  }
  #main {
    margin: 1em 3em;
  }
  #title {
    font-size: 2.8em;
  }
  h2 {
    position:relative;
    bottom: 1em
  }
  h3{
    font-size: 1.9em
  }
  #image {
    max-width:100%;
    height: auto;
    border-radius:0.5em;
    display: block;
    justify-content:center;
  }
  .container {
    display: grid;
    max-width: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(10,auto);
    grid-gap: 0.5em 0.7em;
    justify-content:center;
  }
  .text {
    text-align:justify;
  }